<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home : Inventory Management System</title>
    <%- include('include/_style.ejs')%>
</head>
<body>
    <h1 class="home-header">Inventory Management System</h1>
    <div class="sections">
        <a href="/inspection"class="btn section">Inspection</a>
    <a href="/distribution" class="btn section">Distribution</a>
    <a href="/condemnation" class="btn section">Condemnation</a>
    <a href="/return" class="btn section">Return</a>
    <a href="/expandable" class="btn section">Expandable</a>
    </div>
</body>
</html>