<td><a href="/" class="border-shadow update btn">
    <span class="text-gradient"><i class="fas fa-pencil-alt"></i></span>
</a>
<a class="border-shadow delete btn" data-id=
    <span class="text-gradient"><i class="fas fa-times"></i></span>
</a>
</td>