<div class="sec-1">
    <form action="">
        <select name="" id="">
            <option value="">Key word</option>
            <option value="">Serial No</option>
            <option value="">Id</option>
            <option value="">Inspection Date</option>
            <option value="">Receipt No</option>
            <option value="">Inspection Note No</option>
            <option value="">Supply Order No</option>
            <option value="">Supplier</option>
            <option value="">Nomenclature</option>
            <option value="">Item Name</option>
            <option value="">Issued person</option>
            <option value="">Issued person's Section</option>
        </select>
        <input type="text" name="" id="" placeholder="search text">
        <button type="submit"><i class="fa-solid fa-magnifying-glass"></i></button>
        
    </form>
</div>
